<header class="site-header" role="banner">

  <nav class="top-nav">
    <a href="/sobre">Sobre</a><br/>
    <a href="/fotografias">Fotografias</a>
  </nav>

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    <!-- <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> -->


    <a class="home-header" href="{{ "/" | relative_url }}">
      <h1>{{ site.description }} <span>{{ site.author }}</span></h1>
      <img src="{{ "/assets/image/capa-arte-small.jpeg" | relative_url }}" />
    </a>

    
  </div>
</header>
