---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

body {
  font-family: Selawik Semilight;
}

.wrapper {
  max-width: calc(800px - (30px * 2));
}

.top-nav {
  margin: 10px;
  float: right;
  text-align: right;
  font-size: 20px;
  a {
    color: black;
  }
}

.site-header {
  border: none;
}

.home-header {
  margin-top: 180px;
  font-family: "Monalisa";
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
  gap: 1rem;

  // remove link style
  text-decoration: none !important;
  color: inherit !important;     

  h1 {
    text-align: center;
    width: 20rem;
    font-size: 25px;
    line-height: 30px;
    span {
      font-size: 1.9rem;
    }
  }

  img {
    max-width: 130px;
    height: auto;
  }
}

.social-media-list {
  display: flex;
  margin-bottom: 5px;
  margin-right: 5px;
  justify-content: end;
  opacity: 30%;
  a {
    color: grey
  }
}

.page-content {
  padding: 10px 0;
}

.poem-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6em;
  justify-content: center;
}

.poem p {
  margin-bottom: 0;
}

.text-right {
  text-align: right;
}

.red {
  color: rgb(185, 14, 14);
}

.mosaico {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}
