---
layout: default
---

<div class="home">
  <div class="home-header">
    <h1>{{ site.description }} <span>{{ site.author }}</span></h1>
    <img src="{{ "/assets/image/capa-arte-small.jpeg" | relative_url }}" />
  </div>

  {{ content }}

  {% assign poems = site.pages | where: "name", "poemas.md" | first %}
  {% assign poem_list = poems.content | split: "---" %}
  
  <div class="poem-list">
    {% for poem in poem_list %}
      <div class="poem">
        {{ poem | strip | newline_to_br }}
      </div>
    {% endfor %}
  </div>
  
</div>
